<ion-header>
  <ion-navbar>
    <ion-title>
     Adivina numero secreto
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-input type="number" min= "1" max="10" [(ngModel)]="num" placeholder="Introduce un numero del 1 al 10">
  </ion-input>
  <p>El numero secreto es {{mayormenor}} {{num}}</p>
<button *ngIf="mayormenor!=''" ion-button block (click)="compruebaNumero()">Adivina
  </button>
  <ion-card *ngIf="mayormenor==''">
    <ion-card-header>Enhorabuena</ion-card-header> 
    <ion-card-content>Has acertado el numero secreto es {{num}} </ion-card-content> </ion-card>
    <button *ngIf="mayormenor==''" ion-button block (click)="reinicia()">Volver a jugar</button>
</ion-content>
